body {
  background-color: rgb(193, 227, 241);
  color: #0e045b;
  width: 100%;
  padding: 40px;
}

#container {
  background-color: white;
  width: 70%;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 1px 15px;
}

#info-container {
  background-color: rgb(193, 227, 241);
  padding: 15px;
  box-shadow: 1px 1px 15px;
  border-radius: 10px;
  width: 80%;
  margin: 15px auto;
}

img {
  width: 15%;
  height: auto;
  padding: 15px;
}
.title {
  font-size: 3.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Overlock SC", sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}

#search-city {
  border: none;
  color: #0e045b;
  font-size: 18px;
  font-weight: 300;
  margin: 1.5px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  opacity: 60%;
  width: 60%;
  max-width: 400px;
  height: 10%;
  max-height: 40px;
}

#iniate-search {
  color: #0e045b;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 5px 5px;
  margin: 1.5px;

  margin-right: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 150ms ease-in-out;
}
#iniate-search:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  box-shadow: none;
}

#search-form {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  background-color: rgb(193, 227, 241);
  font-weight: bolder;
  padding: none;
}
#weather-forecast-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#weather-forecast {
  font-size: 1.1em;
}
h2 {
  margin: 0;

  font-family: "Overlock SC", sans-serif;
  font-weight: lighter;
  font-size: 4vw;
}

.current-emoji {
  display: inline;
  font-size: 4vw;
  margin-right: 10px;
}

#current-temperature {
  font-family: "sans-serif";
  font-size: 4vw;
  display: flex;
  width: fit-content;
  align-items: center;
}

.unit {
  font-size: 2vw;
  margin-bottom: -2px;
}

.description {
  display: inline;
  margin-left: 20px;
  font-weight: lighter;
  font-size: 0.9em;
  font-family: "Overlock SC", sans-serif;
}
.five-day-forecast ul {
  display: flex;
  list-style: none;

  padding: 0;
  margin-top: 10px;
}

.forecast-item {
  flex: 1;
  text-align: center;
}

ul {
  font-size: 0.8em;
  width: 100%;
}
