body {
  background-color: rgb(193, 227, 241);
  color: #0e045b;
}

#container {
  background-color: white;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

#heading-emoji {
  font-size: 4rem;
}
.title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Overlock SC", sans-serif;
  font-weight: lighter;
}

@media (max-width: 700px) {
  #search-city {
    width: 100%;
    margin: 5px 0;
  }
  #iniate-search {
    width: 100%;
    margin: 5px 0;
  }
  .title {
    font-family: "Overlock SC", sans-serif;
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  #container {
    width: 90%;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(65, 50, 100, 0.08);
  }
  .title {
    font-size: 1rem;
  }
}

.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

#search-form {
  width: max-content;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
#search-engine {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#search-city {
  flex: 1;
  min-width: 200px;
  max-width: 600px;

  height: 40px;
  margin: 1.5px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(193, 227, 241);
  opacity: 60%;
}

#iniate-search {
  width: 100%;
  max-width: 100px;
  height: 40px;
  margin: 1.5px;
  padding: 5px;
  border-radius: 5px;
}
#weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}

#five-day-forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  flex-shrink: inherit;
  margin: 30px auto;
  max-width: fit-content;
}
@media (max-width: 700px) {
  #weather-info {
    gap: 5px;
    width: 100%;
  }
  #five-day-forecast {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
  .forecast-item {
    font-size: 0.8rem;
    min-width: 0;
  }
}
@media (max-width: 400px) {
  #weather-info {
  }
  #five-day-forecast {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
  .forecast-item {
    font-size: 0.4rem;
    min-width: 0;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

li {
  padding: 10px;
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 700px) {
  .forecast-item {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .forecast-item {
    font-size: 0.8rem;
  }
}

.temperature,
.high-low {
  margin-top: 5px;
}
